$mana_bar_size: 77px;
$rune_size: 30px;
$spell_logo_size: 77px;

$red: #F4CCCC;
$orange: #FCE5CD;
$yellow: #FEF1CB;
$green: #D9EAD3;
$blue: #C9DAF8;
$indigo: #9FC5E8;
$violet: #D9D2E9;
$black: #434343;
$gray: #B6B6B6;
$white: #F3F3F3;

.action-button {
  display: list-item;
  margin: 5px;
}

.black {
  background-color: $black;
  color: $white;
}

.blue {
  background-color: $blue;
}

.bordered {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  display: inline-block;
}

.button-group {
  display: inline-block;
  margin: 5px;
}

.gray {
  background-color: $gray;
}

.green {
  background-color: $green;
}

.hud-section {
  @extend .bordered;
  float: left;
  height: 160px;
  margin: 10px;
  overflow-y:auto;
  width: 46%;
}

.hud-section-learn-spells {
  @extend .hud-section;
  height: 85%;
}

.indigo {
  background-color: $indigo;
}

.learn-it {
  display: inline-block;
  margin-left: 20px;
}

.mana-bar {
  @extend .bordered;
  border-radius: $mana_bar_size / 2;
  border-color: gray;
  height: $mana_bar_size;
  text-align: center;
  width: $mana_bar_size;
}

.metabutton {
  float: right;
  margin: 10px;
}

.orange {
  background-color: $orange;
}

.red {
  background-color: $red;
}

.rune {
  background-color: gray;
  border-radius: $rune_size / 4;
  color: white;
  display: inline-block;
  height: $rune_size;
  margin-bottom: 2px;
  text-align: center;
  width: $rune_size;
}
.selected-spell-slot {
  border-color: gold;
  border-style: solid;
  border-width: 5px;
}

.spell-logo {
  display: inline-block;
  height: $spell_logo_size;
  text-align: center;
  width: $spell_logo_size;
}

.spell-slot {
  display: inline-block;
}

.violet {
  background-color: $violet;
}

.white {
  background-color: $white;
}

.yellow {
  background-color: $yellow;
}

#damage-bar {
  @extend .bordered;
  border-radius: 5px;
  height: 20px;
  margin: 10px;
  width: 800px;
}


#mana-bar-1-red {
  @extend .mana-bar;
  background-color: $red;
}

#mana-bar-2-orange {
  @extend .mana-bar;
  background-color: $orange;
}

#mana-bar-3-yellow {
  @extend .mana-bar;
  background-color: $yellow;
}

#mana-bar-4-green {
  @extend .mana-bar;
  background-color: $green;
}

#mana-bar-5-blue {
  @extend .mana-bar;
  background-color: $blue;
}

#mana-bar-6-indigo {
  @extend .mana-bar;
  background-color: $indigo;
}

#mana-bar-7-violet {
  @extend .mana-bar;
  background-color: $violet;
}

#mana-bar-8-black {
  @extend .mana-bar;
  background-color: $black;
  color: $white;
}

#mana-bar-9-gray {
  @extend .mana-bar;
  background-color: $gray;
}

#mana-bar-10-white {
  @extend .mana-bar;
  background-color: $white;
}

#rune-section {
  @extend .bordered;
  padding: 2px;
  width: ($rune_size * 9) + (8 * 4);
}
