doctype html5
html

  head

    link(href="stylesheets/compiled_css/actions_dashboard.css", rel="stylesheet")
    link(href="stylesheets/compiled_css/colors.css", rel="stylesheet")
    link(href="stylesheets/compiled_css/damage_dashboard.css", rel="stylesheet")
    link(href="stylesheets/compiled_css/hud.css", rel="stylesheet")
    link(href="stylesheets/compiled_css/learn_spells_modal.css", rel="stylesheet")
    link(href="stylesheets/compiled_css/login.css", rel="stylesheet", )
    link(href="stylesheets/compiled_css/mana_dashboard.css", rel="stylesheet")
    link(href="stylesheets/compiled_css/map.css", rel="stylesheet")
    link(href="stylesheets/compiled_css/modal.css", rel="stylesheet")
    link(href="stylesheets/compiled_css/prepared_spells_dashboard.css", rel="stylesheet")
    link(href="stylesheets/compiled_css/style.css", rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Josefin+Sans', rel='stylesheet', type='text/css')

  body

    div(id="learn-spells-modal" class="modal")
      div(class="modal-content")
        span(class="close") X
        h3 Learn Spells
        div(class="hud-section")
          h4 Runes

          div(id="rune-section")
            div(id="runes")

        div(class="hud-section")
          div(class="learn-spells-pane")
            div(id="spell-learn-list")

    div(class="metabutton-container")
      button(class="metabutton") Log Out (x)
      button(class="metabutton") Edit Options (o)
      button(class="metabutton") Get Game Info (h)

    h1(class="game-title") Gray Mana

    div(id="login-div")
      h2 Username:
      input(class="login-input" id="username" value="person@example.com")
      h2 Password:
      input(class="login-input" id="password"
        value="not_a_real_password_used_anywhere_else")
      button(onclick="login()") Log In

    div(id="map")

    div(class="hud-section")
      div(class="hud-panel")
        div(class="hud-heading")
          span(class="hud-title") Mana
          span(id="notifications-mana")

        div(class="hud-panel-content")
          div(id="mana-bar-1-red") 0
          div(id="mana-bar-2-orange") 0
          div(id="mana-bar-3-yellow") 0
          div(id="mana-bar-4-green") 0
          div(id="mana-bar-5-blue") 0
          div(id="mana-bar-6-indigo") 0
          div(id="mana-bar-7-violet") 0
          div(id="mana-bar-8-black") 0
          div(id="mana-bar-9-gray") 0
          div(id="mana-bar-10-white") 0

    div(class="hud-section")
      div(class="hud-panel")
        div(class="hud-heading")
          span(class="hud-title") Prepared Spells
          span(id="notifications-prepared-spells") &nbsp;- You haven't prepared a spell yet.

        div(class="hud-panel-content")

          div(class="spell-slot", id="spell-slot-1")
            //- div(class="spell-logo blue") Quickness
            div(class="spell-logo-empty") Empty Slot

          div(class="spell-slot", id="spell-slot-2")
            //- div(class="spell-logo white") Burst
            div(class="spell-logo-empty") Empty Slot

          div(class="spell-slot", id="spell-slot-3")
            //- div(class="spell-logo blue") Teleport
            div(class="spell-logo-empty") Empty Slot

          div(class="spell-slot", id="spell-slot-4")
            //- div(class="spell-logo indigo") Heal
            div(class="spell-logo-empty") Empty Slot

          div(class="spell-slot", id="spell-slot-5")
            //- div(class="spell-logo white") Shield
            div(class="spell-logo-empty") Empty Slot

          div(class="spell-slot", id="spell-slot-6")
            //- div(class="spell-logo gray") Light
            div(class="spell-logo-empty") Empty Slot

          div(class="spell-slot", id="spell-slot-7")
            //- div(class="spell-logo red") Clean
            div(class="spell-logo-empty") Empty Slot

          div(class="spell-slot", id="spell-slot-8")
            //- div(class="spell-logo black") Storage
            div(class="spell-logo-empty") Empty Slot

          div(class="spell-slot", id="spell-slot-9")
            //- div(class="spell-logo gray") Map
            div(class="spell-logo-empty") Empty Slot

          div(class="selected-spell-slot spell-slot", id="spell-slot-10")
            //- div(class="spell-logo violet") Message
            div(class="spell-logo-empty") Empty Slot

    div(class="hud-section")
      div(class="hud-panel")
        div(class="hud-heading")
          span(class="hud-title") Damage
          span(id="notifications-damage") &nbsp;- You haven't taken any damage yet.
        div(class="hud-panel-content")
          div(id="damage-bar")
            div(class="damage red", id="damge-1-red")
            div(class="damage orange", id="damge-2-orange")
            div(class="damage yellow", id="damge-3-yellow")
            div(class="damage green", id="damge-4-green")
            div(class="damage blue", id="damge-5-blue")
            div(class="damage indigo", id="damge-6-indigo")
            div(class="damage violet", id="damge-7-violet")
            div(class="damage black", id="damge-8-black")
            div(class="damage gray", id="damge-9-gray")
            div(class="damage white", id="damge-10-white")

    div(class="hud-section")
      div(class="hud-panel")
        div(class="hud-heading")
          span(class="hud-title") Actions
          span(id="notifications-actions")

        div(class="hud-panel-content")
          div(class="button-group")
            button(class="action-button", onclick="getTreasure()") Get Treasure (g)
            button(class="action-button") Manatate (m)

          div(class="button-group")
            button(class="action-button", disabled="disabled", title="You're not standing in front of anyone or anything you can interact with.") Interact (k)
            button(class="action-button", disabled="disabled", title="You don't have any food yet.") Eat (e)
            button(class="action-button", disabled="disabled", title="You're not tired enough yet.") Sleep (z)

          div(class="button-group")
            button(class="action-button", disabled="disabled", title="You don't have a spell selected yet.") Cast Selected Spell (r)
            button(class="action-button", disabled="disabled", title="You haven't learned a spells yet.") Prepare Spells (p)
            button(class="action-button", id="learn-spells") Learn Spells (l)

          div(class="button-group")

            button(class="action-button") Talk (t)
            button(class="action-button", disabled="disabled", title="You haven't given or recieved a quest yet.") View Quests (q)
            //- button(class="action-button") Bow (b)
            button(class="action-button", disabled="disabled", title="You haven't joined or founded a faction yet.") View Faction Details (f)

          div(class="button-group")
            button(class="action-button") View Inventory (i)
            button(class="action-button", disabled="disabled", title="You have no achievements :<") Admire Achievements (c)

  script(src="scripts/jquery.min.js")
  script(src="scripts/state_client.js")
  script(src="scripts/globals.js")
  script(src="scripts/auth_client.js")
  script(src="scripts/controls.js")
  script(src="scripts/render.js")
  script(src="scripts/request.js")
  script(src="scripts/modal.js")
  script(src="scripts/treasure.js")
  script(src="scripts/start.js")
