<!DOCTYPE html5>
<html>
  <head>
    <title>Gray Mana 0.1.0</title>
    <link href="stylesheets/compiled_css/actions_dashboard.css" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/compiled_css/colors.css" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/compiled_css/damage_dashboard.css" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/compiled_css/hud.css" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/compiled_css/learn_spells_modal.css" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/compiled_css/login.css" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/compiled_css/mana_dashboard.css" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/compiled_css/map.css" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/compiled_css/modal.css" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/compiled_css/prepared_spells_dashboard.css" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/compiled_css/style.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet" type="text/css"/>
    <!--3rd party libraries-->
    <script src="vendor/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!--AngularJS stuff-->
    <script src="angular_gray_mana_app.js"></script>
    <script src="services/hotkeys.js"></script>
    <script src="services/character.js"></script>
    <script src="controllers/auth_controller.js"></script>
    <!--client state-->
    <script src="controllers/character_controller.js"></script>
    <script src="controllers/world_controller.js"></script>
    <!--see your options-->
    <script src="controllers/hud_controller.js"></script>
    <script src="controllers/modal_controller.js"></script>
    <!--actions (turn inputs into requests)-->
    <script src="controllers/controls_controller.js"></script>
  </head>
  <body>
    <div data-ng-app="angularFrontEnd" data-ng-controller="authController" keypress-events="keypress-events">
      <div id="modal-section" data-ng-controller="modalController">
        <div data-ng-controller="characterController">
          <div data-ng-controller="worldController">
            <div data-ng-controller="HUDController">
              <div data-ng-controller="controlsController">
                <h1 class="game-title">Gray Mana</h1>
                <div class="action-button-container" data-ng-show="toggleShowHUD">
                  <!--button(s) for testing-->
                  <button class="action-button black" data-ng-show="toggleShowHUD" data-ng-click="getTreasure()">Get Treasure</button>
                  <button class="action-button black" data-ng-show="toggleShowHUD" data-ng-click="takeDamage(5, 'green')">Take Damage</button>
                  <button class="action-button black" data-ng-show="toggleShowHUD" data-ng-click="getClone()">Clone Yourself</button>
                  <button class="action-button black" data-ng-show="toggleShowHUD" data-ng-click="getApple()">Get an Apple</button>
                  <!--switch to clone-->
                  <button class="action-button" data-ng-disabled="cannotSwitchToClone()" data-ng-click="">Switch to Clone<span data-ng-show="toggleShowHotKeys">&nbsp;({{getSwitchToCloneHotKey()}})</span></button>
                  <!--interact-->
                  <button class="action-button" data-ng-disabled="disableInteract">Interact<span data-ng-show="toggleShowHotKeys">&nbsp;({{getInteractHotKey()}})</span></button>
                  <!--eat-->
                  <button class="action-button" data-ng-disabled="cannotEat()" data-ng-click="eat()">Eat<span data-ng-show="toggleShowHotKeys">&nbsp;({{getEatHotKey()}})</span></button>
                  <!--sleep-->
                  <button class="action-button" data-ng-disabled="disableSleep" data-ng-click="sleep()">{{getSleepButtonTitle()}}<span data-ng-show="toggleShowHotKeys">&nbsp;({{getSleepHotKey()}})</span></button>
                  <!--cast selected spell-->
                  <button class="action-button" data-ng-disabled="disableCastSelectedSpell">Cast Selected Spell<span data-ng-show="toggleShowHotKeys">&nbsp;({{getCastSelectedSpellHotKey()}})</span></button>
                  <!--prepare spells-->
                  <button class="action-button" data-ng-disabled="disablePrepareSpells">Prepare Spells<span data-ng-show="toggleShowHotKeys">&nbsp;({{getPrepareSpellsHotKey()}})</span></button>
                  <!--learn spells-->
                  <button class="action-button" data-ng-click="openModal('learnSpells')" data-ng-disabled="false">Learn Spells<span data-ng-show="toggleShowHotKeys">&nbsp;({{getLearnSpellsHotKey()}})</span></button>
                  <!--talk-->
                  <button class="action-button" data-ng-disabled="cannotTalk()">Talk<span data-ng-show="toggleShowHotKeys">&nbsp;({{getTalkHotKey()}})</span></button>
                </div>
                <div class="metabutton-container" ,="," data-ng-show="toggleShowHUD">
                  <!--log out-->
                  <button class="action-button">Log Out<span data-ng-show="toggleShowHotKeys">&nbsp;({{getLogOutHotKey()}})</span></button>
                  <!--edit options-->
                  <button class="action-button" data-ng-click="openModal('editOptions')">Edit Options<span data-ng-show="toggleShowHotKeys">&nbsp;({{getEditOptionsHotKey()}})</span></button>
                  <!--get game info-->
                  <button class="action-button" data-ng-click="openModal('getGameInfo')">Get Game Info<span data-ng-show="toggleShowHotKeys">&nbsp;({{getGetGameInfoHotKey()}})</span></button>
                  <!--achievements-->
                  <button class="action-button" data-ng-disabled="disableAdmireAchievements">Admire Achievements<span data-ng-show="toggleShowHotKeys">&nbsp;({{getAdmireAchievementsHotKey()}})</span></button>
                  <!--quests-->
                  <button class="action-button" data-ng-disabled="disableViewQuests">Manage Quests<span data-ng-show="toggleShowHotKeys">&nbsp;({{getManageQuestsHotKey()}})</span></button>
                  <!--faction-->
                  <button class="action-button" data-ng-disabled="disableViewFactionDetails">View Faction Details<span data-ng-show="toggleShowHotKeys">&nbsp;({{getViewFactionDetailsHotKey()}})</span></button>
                  <!--inventory-->
                  <button class="action-button" data-ng-disabled="cannotManageInventory()">Manage Inventory<span data-ng-show="toggleShowHotKeys">&nbsp;({{getManageInventoryHotKey()}})</span></button>
                </div>
                <div id="login-div">
                  <h2>Username:</h2>
                  <input class="login-input" data-ng-model="username"/>
                  <h2>Password:</h2>
                  <input class="login-input" type="password" data-ng-model="password"/>
                  <button data-ng-click="login()">Log In</button>
                </div>
                <div id="map"></div>
                <div class="hud-sections">
                  <!--Mana section-->
                  <div class="hud-section" data-ng-show="toggleShowHUD" id="mana-section">
                    <div class="hud-title" data-ng-show="toggleShowTitles">Mana</div>
                    <div class="mana-bar {{color}}" data-ng-repeat="color in colorClasses">
                      <div class="white" data-ng-style="manaHeights[color]">{{getManaAmount(color)}}</div>
                    </div>
                  </div>
                  <!--Equipped Spells section-->
                  <div class="hud-section" data-ng-show="toggleShowHUD" id="prepared-spells-section">
                    <div class="hud-title" data-ng-show="toggleShowTitles">Equipped Spells</div>
                    <div class="spell-logo-frame {{lastSpellSlot( $index + 1 )}}" data-ng-repeat="_ in spellSlots" id="spell-slot-{{$index + 1 }}">
                      <div class="spell-logo">Empty Spell Slot</div>
                    </div>
                  </div>
                  <div class="hud-section" data-ng-show="toggleShowHUD" id="damage-section"><span class="hud-title" data-ng-show="toggleShowTitles">Damage</span>
                    <div id="damage-bar">
                      <div class="damage {{ color }}" data-ng-repeat="color in colorClasses" data-ng-style="widthObj[color]" id="{{ 'damage-' + ($index + 1) + '-' + color }}"></div>
                    </div><span>Toxicity</span><span style="margin-left: 30px">Pressure</span><span style="margin-left: 30px">Heat</span><span style="margin-left: 30px">Hunger</span><span style="margin-left: 30px">Suffocation</span><span style="margin-left: 30px">Fatigue</span><span style="margin-left: 30px">Loniness</span><span style="margin-left: 30px">Stress</span>
                  </div>
                  <div class="hud-section" data-ng-show="toggleShowHUD" id="ongoing-spells-section"><span class="hud-title" data-ng-show="toggleShowTitles">Ongoing Spells</span></div>
                </div>
                <!--modal-->
                <div class="modal" data-ng-show="showModal">
                  <div class="modal-content"><span class="close" data-ng-click="closeModal()">&times;</span>
                    <div id="inner-modal-content">
                      <div data-ng-show="showEditOptions">
                        <h2>Edit Options</h2>
                        <input type="checkbox" data-ng-model="toggleShowTitles"/><span>Show titles of sections in HUD</span><br/>
                        <input type="checkbox" data-ng-model="toggleShowHotKeys"/><span>Show shortcut keys on buttons</span><br/>
                      </div>
                      <div data-ng-show="showLearnSpells">
                        <h2>Learn Spells</h2>
                        <div class="hud-section">
                          <div class="learn-spells-pane">
                            <h3 class="spell-title">Spell</h3>
                            <h3 class="spell-title">Cost to learn</h3>
                            <div id="spell-learn-list">
                              <div data-ng-repeat="spell in getLearnableSpells() | orderBy">
                                <div class="spell-title">{{spell}}</div>
                                <button class="learn-spell-button">Pay {{runeCost(spell)}} runes to learn</button>
                              </div><br/>
                              <div data-ng-repeat="spell in getUnlearnableSpells() | orderBy">
                                <div class="spell-title">{{spell}}</div>
                                <button class="learn-spell-button" disabled="true">You have not enough runes</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="hud-section">
                          <h3>Runes</h3>
                          <div id="rune-section">
                            <div id="runes">
                              <div class="{{ fadedOrClearRune(letter) }}" data-ng-repeat="letter in alphabet" id="{{'rune-' + letter}}">{{letterOrQuotes(letter)}}<span data-ng-model="character.runes[letter]">&nbsp;{{getRuneAmount(letter)}}</span></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>