doctype html5
html

  head

    link(rel="stylesheet", href="style.css")
    link(rel="stylesheet", href="hud.css")
    link(rel="stylesheet", href="modal.css")

  body

    div(id="learn-spells-modal" class="modal")
      div(class="modal-content")
        span(class="close") X
        h3(Learn Spells)
        div(class="hud-section")
          h4 Runes

          div(id="rune-section")
            div(id="runes")

        div(class="hud-section-learn-spells")
          div(id="spell-learn-list")

    button(class="metabutton") Logout
    //- hotkey esc, x

    button(class="metabutton") Options
    //- hotkey o

    div(id="login-div")
      h1 Gray Mana
      h2 Username:
      input(class="login-input" id="username" value="person@example.com")
      h2 Password:
      input(class="login-input" id="password"
        value="not_a_real_password_used_anywhere_else")
      button(onclick="login()") Submit

    div(id="map")

    div(class="hud-section")
      <h3>Mana</h3>
      div(id="mana-bar-1-red") 0
      div(id="mana-bar-2-orange") 0
      div(id="mana-bar-3-yellow") 0
      div(id="mana-bar-4-green") 0
      div(id="mana-bar-5-blue") 0
      div(id="mana-bar-6-indigo") 0
      div(id="mana-bar-7-violet") 0
      div(id="mana-bar-8-black") 0
      div(id="mana-bar-9-gray") 0
      div(id="mana-bar-10-white") 0

    div(class="hud-section")
      h3 Spells
      p You haven't learned any spells yet.

      div(class="spell-slot", id="spell-slot-1")
        div(class="spell-logo blue") Quickness

      div(class="spell-slot", id="spell-slot-2")
        div(class="spell-logo white") Burst

      div(class="spell-slot", id="spell-slot-3")
        div(class="spell-logo blue") Teleport

      div(class="spell-slot", id="spell-slot-4")
        div(class="spell-logo indigo") Heal

      div(class="spell-slot", id="spell-slot-5")
        div(class="spell-logo white") Shield

      div(class="spell-slot", id="spell-slot-6")
        div(class="spell-logo gray") Light

      div(class="spell-slot", id="spell-slot-7")
        div(class="spell-logo red") Clean

      div(class="spell-slot", id="spell-slot-8")
        div(class="spell-logo black") Storage

      div(class="spell-slot", id="spell-slot-9")
        div(class="spell-logo gray") Map

      div(class="selected-spell-slot spell-slot", id="spell-slot-10")
        div(class="spell-logo violet") Message

    div(class="hud-section")
      h3 Damage
      p You haven't taken any damage yet.
      div(id="damage-bar")

    div(class="hud-section")
      h3 Actions

      div(class="button-group")
        button(class="action-button") Manatate
        //- hotkey m

      div(class="button-group")
        button(class="action-button", disabled="disabled") Eat
        //- hotkey e

        button(class="action-button") Sleep
        //- hotkey z

      div(class="button-group")
        button(class="action-button", disabled="disabled") Cast Spell
        //- hotkey r

        button(class="action-button", disabled="disabled") Prepare Spells
        //- hotkey p

        button(class="action-button", id="learn-spells") Learn Spells
        //- hotkey l

      div(class="button-group")
        button(class="action-button") Interact
        //- hotkey q

        button(class="action-button") Talk
        //- hotkey t

        //- button(class="action-button") Bow
        //- hotkey b

        button(class="action-button", disabled="disabled") Faction
        //- hotkey f

      div(class="button-group")
        button(class="action-button", disabled="disabled") Inventory
        //- hotkey i

        button(class="action-button", disabled="disabled") Achievements
        //- hotkey c

  script(src="jquery.min.js")
  script(src="state_client.js")
  script(src="client.js")
  script(src="auth_client.js")
  script(src="controls.js")
  script(src="render.js")
  script(src="request.js")
  script(src="spell_list.js")
  script(src="modal.js")
  script(src="start.js")
