$background_gray: #F0F0F0;
$gray: #B6B6B6;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background_gray;
}

button {
  width: 160px;
}

.game-title {
  color: $gray;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 500%;
  margin-top: 20px;
  text-align: center;
}

.chest {
  background-color: gray;
  height: 6px;
  width: 6px;
}

.grass {
  @extend .tile;
  background-color: #0e2;
}

.login-input {
  width: 300px;
}

.player-character {
  @extend .tile;
  background-color: chocolate;
}

.sand {
  @extend .tile;
  background-color: #fd4;
}

.tile {
  display: inline-block;
  height: 10px;
  width: 10px;
}

.water {
  @extend .tile;
  background-color: #6af;
}

#login-div {
  height: 400px;
  margin: auto;
  width: 400px
}

#map {
  margin: auto;
  width: 1000px;
}
