$background_gray: #F0F0F0;
$light_gray: #DDD;
$gray: #B6B6B6;

$red: #F4CCCC;
$orange: #FCE5CD;
$yellow: #FEF1CB;
$green: #D9EAD3;
$blue: #C9DAF8;
$indigo: #9FC5E8;
$violet: #D9D2E9;
$black: #434343;
$gray: #B6B6B6;
$white: #F3F3F3;

.black {
  background-color: $black;
  color: $white;
}

.blue {
  background-color: $blue;
}

.gray {
  background-color: $gray;
}

.green {
  background-color: $green;
}

.indigo {
  background-color: $indigo;
}

.orange {
  background-color: $orange;
}

.red {
  background-color: $red;
}

.violet {
  background-color: $violet;
}

.white {
  background-color: white;
}

.yellow {
  background-color: $yellow;
}

.blue-text {
  color: $blue;
}

.gray-text {
  color: $gray;
}

.green-text {
  color: $green;
}

.indigo-text {
  color: $indigo;
}

.orange-text {
  color: $orange;
}

.red-text {
  color: $red;
}

.violet-text {
  color: $violet;
}

.yellow-text {
  color: $yellow;
}
