@import 'style';

$hud_section_height: 130px;

.action-button-container {
  position: absolute;
  left: 10px;
  top: 10px;
}

.hud-heading {
}

.hud-panel {
  border-radius: 6px;
  background-color: white;
  min-height: $hud_section_height;
  margin: auto;
  padding-bottom: 10px;
  width: 98%
}

.hud-panel-content {
  text-align: center;
}

.hud-section {
  display: inline-block;
  float: left;
  min-height: 120px;
  padding-top: 10px;
  vertical-align: middle;
  width: 50%;
}

.hud-title {
  font-size: 200%;
  margin-left: 10px;
}

.metabutton-container {
  position: absolute;
  right: 10px;
  top: 10px;
}
