@import 'hud';

$rune_size: 30px;

.learn-it {
  display: inline-block;
  margin-left: 20px;
}

.learn-spells-pane {
  @extend .hud-section;
  height: 85%;
}

.rune {
  background-color: $gray;
  border-radius: $rune_size / 4;
  color: white;
  display: inline-block;
  height: $rune_size;
  margin-bottom: 2px;
  text-align: center;
  width: $rune_size;
}

.rune-faded {
  @extend .rune;
  background-color: $light_gray;
}

#rune-section {
  @extend .bordered;
  width: $rune_size * 9;
}
