@import 'hud';

$spell_logo_size: 70px;

.selected-spell-slot {
  background-color: gold;
}

.spell-logo-frame {
  @extend .bordered;
  border-radius: 7px;
  display: inline-block;
  //float: left;
  height: $spell_logo_size + 10;
  margin: 4px;
  width: $spell_logo_size + 10;
}

.spell-logo {
  @extend .bordered;
  background-color: white;
  border-radius: 7px;
  display: inline-block;
  //float: left;
  height: $spell_logo_size;
  margin: 4px;
  text-align: center;
  width: $spell_logo_size;
}
