doctype html5
html

  head

    title Character Menu

    link(href="../stylesheets/compiled_css/colors.css", rel="stylesheet", type='text/css')
    link(href="../stylesheets/compiled_css/character_menu.css", rel="stylesheet", type='text/css')
    link(href="../stylesheets/compiled_css/style.css", rel="stylesheet", type='text/css')

    link(href='https://fonts.googleapis.com/css?family=Josefin+Sans', rel='stylesheet', type='text/css')

    //3rd party libraries
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")

    //AngularJS stuff
    script(src="../angular_gray_mana_app.js")
    script(src="../controllers/auth_controller.js")
    script(src="../controllers/character_menu_controller.js")

  body

    div(data-ng-app="angularFrontEnd", data-ng-controller="authController")

      h1(class="game-title") Gray Mana

      div(data-ng-controller="characterMenuController")
        div(class="start-menu-section")
          h2 Play as an existing character
          div(id="play-as-existing-character", data-ng-repeat="character in getCharacterList()")
            button(class="play_as_character", data-ng-click="startPlayingAs(character)") {{character}}

        div(class="start-menu-section")
          h2 Create a new character
          span Enter a name
          input(id="new-character-name", data-ng-model="newCharacter.characterName")

          p Select a school of magic
          div(id="schools", data-ng-repeat="currentSchool in schools")
            input(type="radio", name="school", value="{{currentSchool.schoolName}}", data-ng-model="newCharacter.characterSchool")
            span(class="{{currentSchool.textColor}} school-name-container")
              strong {{currentSchool.schoolName}}

          //p Selected School:
            span(class="school-name-container") {{newCharacter.characterSchool}}
          //p Description: {{}}
          button(data-ng-click="createNewCharacter()", data-ng-disabled="cannotCreateNewCharacter()") Play as {{newCharacter.characterName}}
