
<div data-ng-controller="characterMenuController">
  <div class="start-menu-section">
    <h2>Play as an existing character</h2>
    <div id="play-as-existing-character" data-ng-repeat="character in getCharacterList()">
      <button class="play_as_character" data-ng-click="startPlayingAs(character)">{{character}}</button>
    </div>
  </div>
  <div class="start-menu-section">
    <h2>Create a new character</h2><span>Enter a name</span>
    <input id="new-character-name" data-ng-model="newCharacter.characterName"/>
    <p>Select a school of magic</p>
    <div id="schools" data-ng-repeat="currentSchool in schools">
      <input type="radio" name="school" value="{{currentSchool.schoolName}}" data-ng-model="newCharacter.characterSchool"/><span class="{{currentSchool.textColor}} school-name-container"><strong>{{currentSchool.schoolName}}</strong></span>
    </div>
    <button data-ng-click="createNewCharacter()" data-ng-disabled="cannotCreateNewCharacter()">Play as {{newCharacter.characterName}}</button>
  </div>
</div>