<!DOCTYPE html5>
<html>
  <head>
    <title>Login</title>
    <link href="../stylesheets/compiled_css/colors.css" rel="stylesheet" type="text/css"/>
    <link href="../stylesheets/compiled_css/login.css" rel="stylesheet" type="text/css"/>
    <link href="../stylesheets/compiled_css/style.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet" type="text/css"/>
    <!--3rd party libraries-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!--AngularJS stuff-->
    <script src="../angular_gray_mana_app.js"></script>
    <script src="../controllers/auth_controller.js"></script>
  </head>
  <body>
    <div data-ng-app="angularFrontEnd" data-ng-controller="authController">
      <h1 class="game-title">Gray Mana</h1>
      <div class="start-menu-section" data-ng-show="toggleShowLogin">
        <p>Email Address</p>
        <input class="login-input" data-ng-model="username"/>
        <p>Password</p>
        <input class="login-input" type="password" data-ng-model="password"/>
        <button data-ng-click="login()">Log In</button>
      </div>
      <div class="start-menu-section">
        <div data-ng-show="toggleShowLogin">
          <p>Email Address</p>
          <input class="login-input" data-ng-model="newUsername"/>
          <p>Password</p>
          <input class="login-input" type="password" data-ng-model="newPassword"/>
          <p>Confirm Password</p>
          <input class="login-input" type="password" data-ng-model="confirmPassword"/>
          <button data-ng-click="createNewAccount()">Create New Account</button>
          <p class="input-error-message" data-ng-show="showInvaildEmailMessage">Please enter a valid email address.</p>
          <p class="input-error-message" data-ng-show="showPasswordTooShortMessage">Please enter a password with 8 or more characters.</p>
          <p class="input-error-message" data-ng-show="showPasswordMissmatchMessage">The two passwords you entered did not match.</p>
        </div>
      </div>
    </div>
  </body>
</html>