doctype html5
html

  head

    title Login

    link(href="../stylesheets/compiled_css/colors.css", rel="stylesheet", type='text/css')
    link(href="../stylesheets/compiled_css/login.css", rel="stylesheet", type='text/css')
    link(href="../stylesheets/compiled_css/style.css", rel="stylesheet", type='text/css')

    link(href='https://fonts.googleapis.com/css?family=Josefin+Sans', rel='stylesheet', type='text/css')

    //3rd party libraries
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")

    //AngularJS stuff
    script(src="../angular_gray_mana_app.js")
    script(src="../controllers/auth_controller.js")

  body

    div(data-ng-app="angularFrontEnd", data-ng-controller="authController")

      h1(class="game-title") Gray Mana

      div(class="start-menu-section", data-ng-show="toggleShowLogin")
        p Email Address
        input(class="login-input", data-ng-model="username")
        p Password
        input(class="login-input", type="password", data-ng-model="password")
        button(data-ng-click="login()") Log In

      div(class="start-menu-section", data-ng-show="toggleShowLogin")
        p Email Address
        input(class="login-input", data-ng-model="newUsername")
        p Password
        input(class="login-input", type="password", data-ng-model="newPassword")
        p Confirm Password
        input(class="login-input", type="password", data-ng-model="confirmPassword")
        button(data-ng-click="createNewAccount()") Create New Account
        p(class="input-error-message", data-ng-show="showInvaildEmailMessage") Please enter a valid email address.
        p(class="input-error-message", data-ng-show="showPasswordTooShortMessage") Please enter a password with 8 or more characters.
        p(class="input-error-message", data-ng-show="showPasswordMissmatchMessage") The two passwords you entered did not match.
