$mana_bar_size: 77px;
$rune_size: 30px;
$spell_logo_size: 77px;

$red: #F4CCCC;
$orange: #FCE5CD;
$yellow: #FEF1CB;
$green: #D9EAD3;
$blue: #C9DAF8;
$indigo: #9FC5E8;
$violet: #D9D2E9;
$black: #434343;
$gray: #B6B6B6;
$white: #F3F3F3;

body {
  margin: 0px;
}

h3 {
  margin-left: 20px;
}

button {
  width: 120px;
}

.action_button {
  display: list-item;
  margin: 5px;
}

.black {
  background-color: $black;
  color: $white;
}

.blue {
  background-color: $blue;
}

.bordered {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  display: inline-block;
}

.button_group {
  display: inline-block;
  margin: 5px;
}

.chest {
  background-color: gray;
  height: 6px;
  width: 6px;
}

.grass {
  @extend .tile;
  background-color: #0e2;
}

.gray {
  background-color: $gray;
}

.green {
  background-color: $green;
}

.hud_section {
  @extend .bordered;
  float: left;
  height: 160px;
  margin: 10px;
  width: 46%;
}

.indigo {
  background-color: $indigo;
}

.mana_bar {
  @extend .bordered;
  border-radius: $mana_bar_size / 2;
  border-color: gray;
  height: $mana_bar_size;
  text-align: center;
  width: $mana_bar_size;
}

.metabutton {
  float: right;
  margin: 10px;
}

.orange {
  background-color: $orange;
}

.playerCharacter {
  @extend .tile;
  background-color: chocolate;
}

.red {
  background-color: $red;
}

.rune {
  background-color: gray;
  border-radius: $rune_size / 4;
  color: white;
  display: inline-block;
  height: $rune_size;
  margin-bottom: 2px;
  text-align: center;
  width: $rune_size;
}

.sand {
  @extend .tile;
  background-color: #fd4;
}

.selected_spell_slot {
  border-color: gold;
  border-style: solid;
  border-width: 5px;
}

.spell_logo {
  display: inline-block;
  height: $spell_logo_size;
  text-align: center;
  width: $spell_logo_size;
}

.spell_slot {
  display: inline-block;
}

.tile {
  display: inline-block;
  height: 10px;
  width: 10px;
}

.violet {
  background-color: $violet;
}

.water {
  @extend .tile;
  background-color: #6af;
}

.white {
  background-color: $white;
}

.yellow {
  background-color: $yellow;
}

#damage_bar {
  @extend .bordered;
  border-radius: 5px;
  height: 20px;
  margin: 10px;
  width: 800px;
}

#login_div {
  margin: 10px;
}

#mana_bar_1_red {
  @extend .mana_bar;
  background-color: $red;
}

#mana_bar_2_orange {
  @extend .mana_bar;
  background-color: $orange;
}

#mana_bar_3_yellow {
  @extend .mana_bar;
  background-color: $yellow;
}

#mana_bar_4_green {
  @extend .mana_bar;
  background-color: $green;
}

#mana_bar_5_blue {
  @extend .mana_bar;
  background-color: $blue;
}

#mana_bar_6_indigo {
  @extend .mana_bar;
  background-color: $indigo;
}

#mana_bar_7_violet {
  @extend .mana_bar;
  background-color: $violet;
}

#mana_bar_8_black {
  @extend .mana_bar;
  background-color: $black;
  color: $white;
}

#mana_bar_9_gray {
  @extend .mana_bar;
  background-color: $gray;
}

#mana_bar_10_white {
  @extend .mana_bar;
  background-color: $white;
}

#map {
  margin: 10px;
  width: 1000px;
}

#rune_section {
  @extend .bordered;
  padding: 2px;
  //height: 150px;
  width: ($rune_size * 9) + (8 * 4);
}
